body {
    margin: 0;
    padding: 0;
    background-color: #a0d235;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    color: gray;
    font-weight: lighter;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container {
    padding: 10px;
}

img {
    width: 200px;
    object-fit: cover;
}

.main {
    color: #0066cc;
}

.container {
    width: 400px;
    padding: 40px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

input[type="text"],
input[type="password"] {
    height: 5vh;
    padding: 5px;
    width: 335px;
    outline-color: #0066cc;
}

button {
    border: none;
    padding: 10px;
    width: 350px;
    color: #fff;
    height: 5vh;
    border-radius: 5px;
    background-color: #0066cc;
    transition: transform 0.3s;
}

.main-content {
    color: #0066cc;
    font-weight: lighter;
    display: inline-block;
}

.main-content1 h5 {
    gap: 20px;
    display: flex;
    margin-top: 5px;
    color: #0066cc;
    align-items: center;
    justify-content: space-between;
    font-weight: lighter;
    display: inline-block;
}

button:hover {
    background-color: #a0d235;
}
.fa-user{
    top: 46%;
    left: 61%;
    position: absolute;
}
.fa-lock{
    top: 53%;
    left: 61%;
    position: absolute;
}
